body {
  background: linear-gradient(135deg, #c6a477 10%, #ecd59f);
  color: #7097a8;
  font-family: "Dosis", sans-serif;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.container-current-details {
  border: solid 1.5px #af7e60;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin-bottom: 30px;
}
.form-control {
  border-radius: 30px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.col-2 .btn {
  position: relative;
  float: left;
  left: 0px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.5);
}
.col .btn {
  position: relative;
  float: right;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.5);
}
h1 {
  margin: 20px 40px 10px;
  color: #308695;
}
.currentInformation ul {
  list-style: none;
  line-height: 30px;
}
.currentDetails .row {
  margin: auto;
}
.currentDetails .col p {
  font-size: 250px;
  text-align: center;
  font-weight: 600;
  margin: auto;
}
.currentDetails .row .col-3 strong {
  position: absolute;
  right: 20px;
  bottom: 0px;
  font-size: 30px;
}
a#celsius-link {
  color: #7ea04d;
  cursor: default;
}
a#celsius-link:hover {
  text-decoration: none;
  color: #7ea04d;
  font-size: 50px;
}
a#fahrenheit-link {
  color: #7ea04d;
  cursor: default;
}
a#fahrenheit-link:hover {
  text-decoration: none;
  color: #7ea04d;
  font-size: 50px;
}
.description .row {
  margin: auto;
}
.description ul {
  margin: 0 0 16px 0;
  padding: 0px;
}
.description ul li {
  list-style: none;
  line-height: 35px;
}
.description .col-6 {
  text-align: center;
  text-transform: capitalize;
}
.icon {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 10px;
}
.forecastHours {
  border: solid 1.5px #af7e60;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 30px;
}
.forecastHours .row {
  margin: auto;
}
.forecastHours .row .col-3 p {
  margin: 10px 0;
}
.forecastHours .row .col-3 strong {
  color: #308695;
}
.forecastDays {
  border: solid 1.5px #af7e60;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 15px;
}
.forecastDays .row {
  margin: auto;
}
.forecastDays h3 {
  color: #308695;
  margin: 0 auto;
  font-size: 18px;
}
.forecastDays .col-2:hover {
  border: solid 1px #d1d1d1;
  background-color: #d1d1d1;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}
.icon-forecast {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 5px;
}
footer p {
  color: black;
  text-align: center;
}
